.card {
    display: flex;
    height: 100%;
    width: fit-content;
    height: 100%;

    --base-x: 0px;
    --offset-x: 0px;
    /* 使用 calc 组合变量 */
    transform: translateX(calc(var(--base-x) + var(--offset-x))) var(--unhover-act);
}



.cardgroup {
    /*可选全局配置*/
    --hover-act: ;/*卡片被悬停时的变换效果*/
    --unhover-act: ;/*卡片未被悬停时的变换效果*/
    --card-gap: ;/*卡片之间的间距*/

    display: flex;
    position: relative;
}

